@model IEnumerable<Biblioteca.Models.dbModels.Autor>

@{
    ViewData["Title"] = "Administrar autores";
}

@section Styles {
    <link rel="stylesheet" href="~/css/administrar-elementos.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
}
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="~/js/administrar-autores.js"></script>
}

<div>
    <div id="divBtn">
        <p>
        <a asp-action="Create" type="button" class="btnexpo btn btn-dark" id="btnAdd">
            Agregar un Autor <i class="bi bi-plus"></i>
        </a>
        </p>
    </div>
    <h1>Administrar Autores</h1>
</div>
<br />
<br />
<div>
<table id="TAutores" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <img class="rounded-circle autor" src="@Html.DisplayFor(modelItem => item.Imagen)" alt="" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-dark"><i class="bi bi-pencil"></i>Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-dark"><i class="bi bi-info-circle"></i>Info</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-dark eliminar-btn"><i class="bi bi-trash me-1"></i>Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
