@model Biblioteca.Models.dbModels.AutorFavorito

@{
    ViewData["Title"] = "Detalles";
}

@section Styles {
    <link rel="stylesheet" href="~/css/administrar-elementos.css" />
}

<h1>Detalles</h1>

<div>
    <h4>Uno de Mis Autores Favoritos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor.Nombre)
        </dd>
        <dd class="col-sm-10">
            <img class="foto" src="@Html.DisplayFor(model => model.Autor.Imagen)" alt="" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Delete" asp-route-autorId="@Model.Autor.Id" asp-route-usuarioId="@Model.Usuario.Id" class="btn btn-dark eliminar-btn">Quitar de Favoritos</a> |
    <a asp-action="Index" class="btn btn-dark">Volver</a>
</div>
