@model IEnumerable<Biblioteca.Models.dbModels.Libro>

@{
    ViewData["Title"] = "Inicio";
}

<h1>Index</h1>
<br />
<div>
    <h2 class="mb-3">Nuestros Ultimos Libros</h2>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <div class="card h-100">
                <a asp-controller="LibroLectores" asp-action="Details" asp-route-id="@item.Id" class="card-link">
                    <img src="@Html.DisplayFor(modelItem => item.Imagen)" class="card-img-top libro" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                </div>
            </div>
        </div>
    }
</div>

<div>
    <h2 class="mt-5 mb-3">Mejores Autores</h2>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <div class="card border-0">
                <a asp-controller="AutorLectores" asp-action="Details" asp-route-id="@item.AutorId" class="card-link">
                    <img src="@Html.DisplayFor(modelItem => item.Autor.Imagen)" class="card-img-top rounded-circle" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Autor.Nombre)</h5>
                </div>
            </div>
        </div>
    }
</div>